# packages in environment at C:\Users\pleas\miniconda3:
#
# Name                    Version                   Build  Channel
adjusttext                1.2.0                    pypi_0    pypi
aiohappyeyeballs          2.4.3                    pypi_0    pypi
aiohttp                   3.10.9                   pypi_0    pypi
aiosignal                 1.3.1                    pypi_0    pypi
anaconda-anon-usage       0.4.4           py312hfc23b7f_100  
anndata                   0.10.9                   pypi_0    pypi
annotated-types           0.7.0              pyhd8ed1ab_1    conda-forge
anyio                     4.4.0                    pypi_0    pypi
appdirs                   1.4.4              pyhd8ed1ab_1    conda-forge
archspec                  0.2.3              pyhd3eb1b0_0  
argon2-cffi               23.1.0                   pypi_0    pypi
argon2-cffi-bindings      21.2.0                   pypi_0    pypi
array-api-compat          1.8                      pypi_0    pypi
arrow                     1.3.0                    pypi_0    pypi
asttokens                 2.4.1                    pypi_0    pypi
async-lru                 2.0.4                    pypi_0    pypi
atomicwrites              1.4.1                    pypi_0    pypi
attrs                     24.2.0                   pypi_0    pypi
babel                     2.16.0                   pypi_0    pypi
beautifulsoup4            4.12.3                   pypi_0    pypi
biopython                 1.84                     pypi_0    pypi
bioservices               1.12.1                   pypi_0    pypi
bleach                    6.1.0                    pypi_0    pypi
boltons                   23.0.0          py312haa95532_0  
brotli-python             1.0.9           py312hd77b12b_8  
bzip2                     1.0.8                h2bbff1b_6  
ca-certificates           2025.6.15            h4c7d964_0    conda-forge
cattrs                    24.1.3                   pypi_0    pypi
certifi                   2025.6.15          pyhd8ed1ab_0    conda-forge
cffi                      1.17.1                   pypi_0    pypi
chardet                   3.0.4                    pypi_0    pypi
charset-normalizer        3.3.2              pyhd3eb1b0_0  
click                     8.1.8                    pypi_0    pypi
cloudpickle               3.0.0                    pypi_0    pypi
cobra                     0.29.1             pyhd8ed1ab_1    conda-forge
colorama                  0.4.6           py312haa95532_0  
colorlog                  6.9.0                    pypi_0    pypi
comm                      0.2.2                    pypi_0    pypi
conda                     24.11.3         py312h2e8e312_0    conda-forge
conda-content-trust       0.2.0           py312haa95532_1  
conda-libmamba-solver     24.7.0             pyhd3eb1b0_0  
conda-package-handling    2.3.0           py312haa95532_0  
conda-package-streaming   0.10.0          py312haa95532_0  
console_shortcut_miniconda 0.1.1                haa95532_2  
contourpy                 1.3.0                    pypi_0    pypi
cool-scripts              0.1                       dev_0    <develop>
cryptography              42.0.5          py312h89fc84f_1  
cycler                    0.12.1                   pypi_0    pypi
dask                      2024.8.1                 pypi_0    pypi
debugpy                   1.8.5                    pypi_0    pypi
decorator                 5.1.1                    pypi_0    pypi
deep-translator           1.11.4                   pypi_0    pypi
defusedxml                0.7.1                    pypi_0    pypi
depinfo                   2.2.0              pyhd8ed1ab_1    conda-forge
diskcache                 5.6.3              pyhd8ed1ab_1    conda-forge
distro                    1.9.0           py312haa95532_0  
drawpyo                   0.2.2                    pypi_0    pypi
easydev                   0.13.3                   pypi_0    pypi
entrypoints               0.4                      pypi_0    pypi
escher                    1.7.3                    pypi_0    pypi
et-xmlfile                2.0.0                    pypi_0    pypi
exceptiongroup            1.3.0              pyhd8ed1ab_0    conda-forge
executing                 2.0.1                    pypi_0    pypi
expat                     2.6.2                hd77b12b_0  
fastjsonschema            2.20.0                   pypi_0    pypi
fmt                       10.2.1               h181d51b_0    conda-forge
fonttools                 4.53.1                   pypi_0    pypi
fqdn                      1.5.1                    pypi_0    pypi
frozendict                2.4.2           py312haa95532_0  
frozenlist                1.4.1                    pypi_0    pypi
fsspec                    2024.6.1                 pypi_0    pypi
future                    1.0.0              pyhd8ed1ab_2    conda-forge
gevent                    25.4.2                   pypi_0    pypi
git                       2.45.2               haa95532_0  
glpk                      5.0                  h8ffe710_0    conda-forge
google                    3.0.0                    pypi_0    pypi
googletrans               3.1.0a0                  pypi_0    pypi
graphviz                  0.21                     pypi_0    pypi
greenlet                  3.2.1                    pypi_0    pypi
grequests                 0.7.0                    pypi_0    pypi
h11                       0.14.0                   pypi_0    pypi
h2                        3.2.0                    pypi_0    pypi
h5py                      3.11.0                   pypi_0    pypi
hpack                     3.0.0                    pypi_0    pypi
hstspreload               2025.1.1                 pypi_0    pypi
httpcore                  1.0.7                    pypi_0    pypi
httpx                     0.28.1             pyhd8ed1ab_0    conda-forge
hyperframe                5.2.0                    pypi_0    pypi
idna                      3.10                     pypi_0    pypi
importlib-metadata        8.7.0              pyhe01879c_1    conda-forge
importlib-resources       6.4.4                    pypi_0    pypi
importlib_metadata        8.7.0                h40b2b14_1    conda-forge
importlib_resources       6.5.2              pyhd8ed1ab_0    conda-forge
intel-openmp              2024.2.1          h57928b3_1083    conda-forge
ipykernel                 6.29.5                   pypi_0    pypi
ipython                   8.26.0                   pypi_0    pypi
ipython-genutils          0.2.0                    pypi_0    pypi
ipywidgets                7.8.4                    pypi_0    pypi
isoduration               20.11.0                  pypi_0    pypi
jedi                      0.19.1                   pypi_0    pypi
jinja2                    2.11.3                   pypi_0    pypi
joblib                    1.4.2                    pypi_0    pypi
json5                     0.9.25                   pypi_0    pypi
jsonpatch                 1.33            py312haa95532_1  
jsonpointer               2.1                pyhd3eb1b0_0  
jsonschema                3.2.0                    pypi_0    pypi
jsonschema-specifications 2023.12.1                pypi_0    pypi
jupyter-client            7.4.9                    pypi_0    pypi
jupyter-core              5.7.2                    pypi_0    pypi
jupyter-events            0.6.3                    pypi_0    pypi
jupyter-lsp               2.2.5                    pypi_0    pypi
jupyter-server            2.10.0                   pypi_0    pypi
jupyter-server-terminals  0.5.3                    pypi_0    pypi
jupyterlab                4.2.5                    pypi_0    pypi
jupyterlab-pygments       0.3.0                    pypi_0    pypi
jupyterlab-server         2.27.3                   pypi_0    pypi
jupyterlab-widgets        1.1.10                   pypi_0    pypi
kiwisolver                1.4.7                    pypi_0    pypi
libarchive                3.7.4                h9243413_0  
libblas                   3.9.0           32_h641d27c_mkl    conda-forge
libcblas                  3.9.0           32_h5e41251_mkl    conda-forge
libcurl                   8.7.1                h86230a5_0  
libexpat                  2.6.2                h63175ca_0    conda-forge
libffi                    3.4.4                hd77b12b_1  
libflint                  2.9.0           h448d227_nontl_0    conda-forge
libhwloc                  2.11.2          default_hc8275d1_1000    conda-forge
libiconv                  1.16                 h2bbff1b_3  
liblapack                 3.9.0           32_h1aa476e_mkl    conda-forge
libmamba                  1.5.8                h3f09ed1_0    conda-forge
libmambapy                1.5.8           py312h66cf91f_0    conda-forge
libsolv                   0.7.24               h23ce68f_1  
libsqlite                 3.46.0               h2466b09_0    conda-forge
libssh2                   1.11.0               h291bd65_0  
libxml2                   2.13.1               h24da03e_2  
libzlib                   1.2.13               h2466b09_6    conda-forge
line-profiler             4.2.0                    pypi_0    pypi
locket                    1.0.0                    pypi_0    pypi
lxml                      5.4.0                    pypi_0    pypi
lz4-c                     1.9.4                h2bbff1b_1  
mamba                     1.5.8           py312h5494d5c_0    conda-forge
markdown-it-py            3.0.0              pyhd8ed1ab_1    conda-forge
markupsafe                2.0.1                    pypi_0    pypi
matplotlib                3.9.2                    pypi_0    pypi
matplotlib-inline         0.1.7                    pypi_0    pypi
mdurl                     0.1.2              pyhd8ed1ab_1    conda-forge
menuinst                  2.1.2           py312h5da7b33_0  
mistune                   0.8.4                    pypi_0    pypi
mkl                       2024.2.2            h66d3029_15    conda-forge
more-itertools            10.5.0                   pypi_0    pypi
mpc                       1.3.1                h4ff82f8_0    conda-forge
mpfr                      4.2.1                h64bf75a_1    conda-forge
mpir                      3.0.0             he025d50_1002    conda-forge
mpmath                    1.3.0              pyhd8ed1ab_1    conda-forge
multidict                 6.1.0                    pypi_0    pypi
natsort                   8.4.0                    pypi_0    pypi
nbclassic                 1.1.0                    pypi_0    pypi
nbclient                  0.5.13                   pypi_0    pypi
nbconvert                 6.4.5                    pypi_0    pypi
nbformat                  5.10.4                   pypi_0    pypi
nest-asyncio              1.6.0                    pypi_0    pypi
notebook                  6.5.7                    pypi_0    pypi
notebook-shim             0.2.4                    pypi_0    pypi
numpy                     2.1.0                    pypi_0    pypi
openpyxl                  3.1.5                    pypi_0    pypi
openssl                   3.5.0                ha4e3fda_1    conda-forge
optlang                   1.8.2                    pypi_0    pypi
orthodb                   0.9.1                    pypi_0    pypi
outcome                   1.3.0.post0              pypi_0    pypi
overrides                 7.7.0                    pypi_0    pypi
packaging                 24.1            py312haa95532_0  
pandas                    2.2.2                    pypi_0    pypi
pandocfilters             1.5.1                    pypi_0    pypi
parso                     0.8.4                    pypi_0    pypi
partd                     1.4.2                    pypi_0    pypi
patsy                     1.0.1                    pypi_0    pypi
pcre2                     10.42                h0ff8eda_1  
pexpect                   4.9.0                    pypi_0    pypi
pillow                    10.4.0                   pypi_0    pypi
pip                       24.2            py312haa95532_0  
platformdirs              4.3.7                    pypi_0    pypi
pluggy                    0.13.1                   pypi_0    pypi
powershell_shortcut_miniconda 0.0.1                haa95532_2  
prometheus-client         0.20.0                   pypi_0    pypi
prompt-toolkit            3.0.47                   pypi_0    pypi
propcache                 0.2.0                    pypi_0    pypi
psutil                    6.0.0                    pypi_0    pypi
pthreads-win32            2.9.1                h2466b09_4    conda-forge
ptyprocess                0.7.0                    pypi_0    pypi
pure-eval                 0.2.3                    pypi_0    pypi
py                        1.11.0                   pypi_0    pypi
pybind11-abi              4                    hd3eb1b0_1  
pycomo                    0.2.8              pyhdfd78af_0    bioconda
pycosat                   0.6.6           py312h2bbff1b_1  
pycparser                 2.21               pyhd3eb1b0_0  
pydantic                  2.8.2                    pypi_0    pypi
pydantic-core             2.20.1                   pypi_0    pypi
pydeseq2                  0.4.11                   pypi_0    pypi
pygments                  2.18.0                   pypi_0    pypi
pyparsing                 3.1.4                    pypi_0    pypi
pyrsistent                0.20.0                   pypi_0    pypi
pysocks                   1.7.1           py312haa95532_0  
pytest                    4.6.11                   pypi_0    pypi
python                    3.12.3          h2628c8c_0_cpython    conda-forge
python-dateutil           2.9.0.post0        pyhff2d567_1    conda-forge
python-dotenv             1.1.0                    pypi_0    pypi
python-json-logger        2.0.7                    pypi_0    pypi
python-libsbml            5.20.4                   pypi_0    pypi
python-tzdata             2025.2             pyhd8ed1ab_0    conda-forge
python_abi                3.12                    5_cp312    conda-forge
pytz                      2024.1                   pypi_0    pypi
pywin32                   306                      pypi_0    pypi
pywinpty                  2.0.13                   pypi_0    pypi
pyyaml                    6.0.2                    pypi_0    pypi
pyzmq                     26.2.0                   pypi_0    pypi
referencing               0.35.1                   pypi_0    pypi
reproc                    14.2.4               hd77b12b_2  
reproc-cpp                14.2.4               hd77b12b_2  
requests                  2.32.3          py312haa95532_0  
requests-cache            1.2.1                    pypi_0    pypi
rfc3339-validator         0.1.4                    pypi_0    pypi
rfc3986                   1.5.0                    pypi_0    pypi
rfc3986-validator         0.1.1                    pypi_0    pypi
rich                      13.8.0                   pypi_0    pypi
rich-click                1.8.8                    pypi_0    pypi
riptide                   3.4.81                   pypi_0    pypi
rpds-py                   0.20.0                   pypi_0    pypi
ruamel.yaml               0.17.21         py312h2bbff1b_0  
scikit-learn              1.5.2                    pypi_0    pypi
scipy                     1.14.1                   pypi_0    pypi
seaborn                   0.13.2                   pypi_0    pypi
selenium                  4.31.0                   pypi_0    pypi
send2trash                1.8.3                    pypi_0    pypi
setuptools                74.0.0                   pypi_0    pypi
six                       1.16.0                   pypi_0    pypi
sniffio                   1.3.1              pyhd8ed1ab_1    conda-forge
sortedcontainers          2.4.0                    pypi_0    pypi
soupsieve                 2.6                      pypi_0    pypi
sqlite                    3.45.3               h2bbff1b_0  
stack-data                0.6.3                    pypi_0    pypi
statsmodels               0.14.4                   pypi_0    pypi
suds-community            1.2.0                    pypi_0    pypi
swiglpk                   5.0.10                   pypi_0    pypi
symengine                 0.11.0                   pypi_0    pypi
sympy                     1.13.2                   pypi_0    pypi
tbb                       2021.13.0            h62715c5_1    conda-forge
terminado                 0.18.1                   pypi_0    pypi
testpath                  0.6.0                    pypi_0    pypi
threadpoolctl             3.5.0                    pypi_0    pypi
tinycss2                  1.3.0                    pypi_0    pypi
tk                        8.6.14               h0416ee5_0  
toolz                     0.12.1                   pypi_0    pypi
tornado                   6.4.1                    pypi_0    pypi
tqdm                      4.67.1                   pypi_0    pypi
traitlets                 5.14.3                   pypi_0    pypi
translator                0.0.9                    pypi_0    pypi
trio                      0.29.0                   pypi_0    pypi
trio-websocket            0.12.2                   pypi_0    pypi
truststore                0.8.0           py312haa95532_0  
types-python-dateutil     2.9.0.20240821           pypi_0    pypi
typing-extensions         4.12.2                   pypi_0    pypi
typing-inspection         0.4.1              pyhd8ed1ab_0    conda-forge
typing_extensions         4.14.0             pyhe01879c_0    conda-forge
tzdata                    2024.1                   pypi_0    pypi
ucrt                      10.0.20348.0         haa95532_0  
uri-template              1.3.0                    pypi_0    pypi
url-normalize             2.2.1                    pypi_0    pypi
urllib3                   2.2.2           py312haa95532_0  
vc                        14.40                h2eaa2aa_0  
vc14_runtime              14.40.33810         hcc2c482_20    conda-forge
vs2015_runtime            14.40.33810         h3bf8584_20    conda-forge
wcwidth                   0.2.13                   pypi_0    pypi
webcolors                 24.8.0                   pypi_0    pypi
webdriver-manager         4.0.2                    pypi_0    pypi
webencodings              0.5.1                    pypi_0    pypi
websocket-client          1.8.0                    pypi_0    pypi
wheel                     0.43.0          py312haa95532_0  
widgetsnbextension        3.6.9                    pypi_0    pypi
win_inet_pton             1.1.0           py312haa95532_0  
wrapt                     1.17.2                   pypi_0    pypi
wsproto                   1.2.0                    pypi_0    pypi
xlsxwriter                3.2.2                    pypi_0    pypi
xmltodict                 0.14.2                   pypi_0    pypi
xz                        5.4.6                h8cc25b3_1  
yaml-cpp                  0.8.0                hd77b12b_1  
yarl                      1.14.0                   pypi_0    pypi
zipp                      3.23.0             pyhd8ed1ab_0    conda-forge
zlib                      1.2.13               h2466b09_6    conda-forge
zope-event                5.0                      pypi_0    pypi
zope-interface            7.2                      pypi_0    pypi
zstandard                 0.22.0          py312h3469f8a_0  
zstd                      1.5.5                hd43e919_2  
